# Version control
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.pytest_cache
.mypy_cache
.ipynb_checkpoints

# Virtual envs
.venv
venv
env

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode
.idea
*.swp

# Build artefacts
*.log
*.tmp
